<web-app>
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	
	<!-- Protecting our application -->
	
	<!-- Declaring admin role -->
	<security-role>
		<description>Administrator</description>
		<role-name>admin</role-name>
	</security-role>
	
	<!-- Everyone who wants the access the following methods 
	will have to have the admin role-->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>All services</web-resource-name>
			<url-pattern>/services/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>HEAD</http-method>
			<http-method>OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
		
		<!-- Transport protocol must be safe (HTTPS) -->
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>